{% extends "base.html" %}
{% block content %}   
	<div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">Input Penjualan</h3>
	    </div>
	    <div class="panel-body">
			<form class="navbar-form navbar-Left" >
				<table>
					<tr>
						<div class="form-group">
							<td width=150><label>Nama Konsumen</label></td>
							<td><input type="text" placeholder="Nama Barang" class="form-control"></td>
						</div>
					</tr>
					<tr>
						<div class="form-group">
							<td><label>kode Barang</label></td>
							<td><input type="text" placeholder="Serial" class="form-control"></td>
						</div>
					</tr>
					<tr>
						<div class="form-group">
							<td><label>Nama Barang</label></td>
							<td><input type="text" placeholder="Serial" class="form-control"></td>
						</div>
					</tr>
					<tr>
						<div class="form-group">
							<td><label>Serial</label></td>
							<td><input type="text" placeholder="Serial" class="form-control"></td>
						</div>
					</tr>
					<tr>
						<div class="form-group">
							<td><label>Qty</label></td>
							<td><input type="text" placeholder="Serial" class="form-control"></td>
						</div>
					</tr>
					<tr>
						<div class="form-group">
							<td><label>Harga</label></td>
							<td><input type="text" placeholder="Serial" class="form-control"></td>
						</div>
					</tr>
				</table>					                       
          	</form>
	    </div>
	</div>
{% endblock %}